<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Blog</title>
	</head>
	<body>
		<div class="container">
			<h1 class="mb-1">Welcome to the Blog</h1>
			<div class="text-muted" mb-2>Are you a new or an existing user ?</div>
			<a href="/users/signup" class="btn btn-secondary">New</a>
			<a href="/users/login" class="btn btn-info">Existing</a>
		</div>
	</body>
</html>